/* DONT DELETE THIS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
/* WRITE YOUR CODE BELOW */

:root {
    --main-black: #222222;
    --main-gray: #B0AFB0;
    --background-gray: #F7F7F7;
    --background-white: #FFFFFF;
}

body {
    font-family: "Arial Black", serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-gray);
    padding: 180px
}

.album-section {
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    border-radius: 60px;
    border: none;
    background-color: var(--background-white);
    box-shadow: 2px 2px 50px 3px rgba(0, 0, 0, 0.3);
}

.album-section header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 36px;
}

.album-section header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.album-section__back {
    align-items: flex-start;
}

.album-section__search {
    align-items: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.album-section__music-picked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.album-section__music-picked img {
    width:250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 30px 0 100px 0;
    box-shadow: 1px 10px 30px #393727;
}

.album__music-picked__artist {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}

.album__music-picked__genre {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 70px;
    color: var(--main-gray);
}

.album__music-picked__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 40px;
}

.album__music-picked__btn button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    height: 90px;
    width: 250px;
    border-radius: 50px;
    border: none;
}

.album__shuffle {
    margin-right: 50px;
    color: #CCCCCC;
    background-color: var(--main-black);
}

.album__likes {
    margin-left: 50px;
    background-color: var(--background-white);
    box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.1);
}

.album__likes-icon {
    font-size: 45px;
    padding-right: 15px;
}

.album__likes-count {
    font-size: 38px;
    font-weight: 600;
    color: var(--main-gray);
}

.album__musics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.album__music-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.album__music-detail__cover img {
    height: 170px;
    width: 170px;
    border-radius: 30px;
    object-fit: cover;
    margin-top: 50px;
}

.album__music-info {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
