/* DONT DELETE THIS */
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
/* WRITE YOUR CODE BELOW */

:root {
    --main-black: #222222;
    --main-gray: #B0AFB0;
    --item-gray: #EAEAEA;
    --background-gray: #F7F7F7;
    --background-white: #FFFFFF;
    --main-box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.1)
}

body {
    font-family: "Arial Black", serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-gray);
    padding: 180px;
}

.album-section, .play-section {
    width: 700px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    border-radius: 60px;
    border: none;
    background-color: var(--background-white);
    box-shadow: var(--main-box-shadow);
    position: relative;
}

.album-section header, .play-section header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
}

.album-section header > div, .play-section header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    height: 50px;
}

.album-section__back {
    align-items: flex-start;
}

.album-section__search {
    align-items: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.album-section__music-picked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.album-section__music-picked img {
    width:300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 30px 50px 70px 50px;
    box-shadow: 1px 10px 20px #393727;
}

.album__music-picked__artist {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
}

.album__music-picked__genre {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 50px;
    color: var(--main-gray);
}

.album__music-picked__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
}

.album__music-picked__btn button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    height: 90px;
    width: 250px;
    border-radius: 50px;
    border: none;
}

.album__shuffle {
    margin-right: 50px;
    color: #CCCCCC;
    background-color: var(--main-black);
}

.album__likes {
    margin-left: 50px;
    background-color: var(--background-white);
    box-shadow: var(--main-box-shadow);
}

.album__likes-icon {
    font-size: 45px;
    padding-right: 15px;
}

.album__likes-count {
    font-size: 38px;
    font-weight: 600;
    color: var(--main-gray);
}

.album__musics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.album__music-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 5px 20px;
    border-radius: 50px;
}

.album__music-detail:nth-child(2) {
    box-shadow: var(--main-box-shadow);

}

.album__music-detail__cover img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.album__music-detail__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.album__music-info {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.album__music__artist {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    color: var(--main-gray);
}

.album__music__title {
    font-size: 24px;
    font-weight: 400;
    color: var(--main-black);
}

.album__music-details {
    font-size: 18px;
    color: var(--main-gray);
}

.play-bar {
    height: 120px;
    width: 700px;
    border: none;
    background-color: var(--main-black);
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 150px;
}

.play-bar__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px;
}

.play-bar__artist {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-gray);
    padding-bottom: 15px;
}

.play-bar__title {
    font-size: 24px;
    font-weight: 400;
    color: var(--background-white);
}

.play-bar__progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--background-white);
    margin-right: 30px;
}

.play-bar__progress i {
    padding: 0 30px;

}

.play-bar__progress i:nth-child(2) {
    font-size: 52px;
}

main > img {
    height: 600px;
    width: 600px;
    border-radius: 7%;
    object-fit: cover;
    margin: 100px 0;
    box-shadow: 0 30px 100px #085C2C;
}

.play__info div {
    padding: 20px 0;
}

.play__title {
    font-size: 52px;
}

.play__artist {
    font-size: 36px;
    font-weight: 400;
    color: var(--main-gray);
    text-align: center;
    margin-bottom: 40px;
}

.play__progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 660px;
}

.play-progress__time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    color: var(--main-gray);
    font-weight: 400;
    width: 100%;
    margin-bottom: 10px;
}

.play__time-now, .play__time-full {
    font-size: 20px;
}

.play__bar-full {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 4px;
    border: 1px solid var(--item-gray);
    width: 100%;
    background-color: var(--item-gray);
    margin-bottom: 100px;
}

.play__bar-now {
    height: 4px;
    background-color: var(--main-black);
    border: 1px solid var(--main-black);
    width: 70%;
}

.play__bar-full i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.play__controllers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.play__controllers i {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 0 25px;

}

.play__controllers__circle {
    height: 130px;
    width: 130px;
    border: 1px solid var(--main-black);
    background-color: var(--main-black);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play__controllers i:first-child, .play__controllers i:last-child {
    color: var(--item-gray);
}

.play__controllers__circle > i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-white);
}